<div class="content-heading">Liquidaciones</div>
<!-- Zero Configuration-->
<div class="card card-default">
    <div class="card-header">Listado de liquidaciones</div>
    <div class="card-body">
        <div class="table-responsive">
            <table datatable="" class="table table-striped">
                <thead>
                    <tr>
                        <th class="wd-md">Agente</th>
                        <th>Supervisor</th>
                        <th>Producto</th>
                        <th>Tipo</th>
                        <th>Creada</th>
                        <th>Grabada</th>
                        <th>Id</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">Agente 1</a>
                        </td>
                        <td><a href="">Keith Gutierrez</a>
                        </td>
                        <td><a class="mr-2" href="">Vida Riesgo</a>
                        </td>
                        <td> <a class="mr-1 badge badge-primary" href="">Anticipo</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1251</td>
                        <td><a class="mr-1 badge badge-success" href="">Liquidado</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Agente 2</a>
                        </td>
                        <td><a href="">Carlos Wilson</a>
                        </td>
                        <td><a class="mr-2" href="">Vida ahorro</a>
                        </td>
                        <td> <a class="mr-1 badge badge-primary" href="">Recibo</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1361</td>
                        <td><a class="mr-1 badge badge-warning" href="">Pendiente</a>
                        </td>
                    </tr>
                     <tr>
                        <td><a href="">Agente 3</a>
                        </td>
                        <td><a href="">Supervisor 3</a>
                        </td>
                        <td><a class="mr-2" href="">Decesos</a>
                        </td>
                        <td> <a class="mr-1 badge badge-primary" href="">Recibo</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1361</td>
                        <td><a class="mr-1 badge badge-success" href="">Liquidado</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Agente 4</a>
                        </td>
                        <td><a href="">Supervisor 4</a>
                        </td>
                        <td><a class="mr-2" href="">Decesos</a>
                        </td>
                        <td> <a class="mr-1 badge badge-primary" href="">Recibo</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1361</td>
                        <td><a class="mr-1 badge badge-success" href="">Liquidado</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="">Agente 5</a>
                        </td>
                        <td><a href="">Supervisor 5</a>
                        </td>
                        <td><a class="mr-2" href="">Hogar</a>
                        </td>
                        <td> <a class="mr-1 badge badge-primary" href="">Recibo</a>
                        </td>
                        <td>10/05/2015</td>
                        <td>10/05/2015</td>
                        <td>1361</td>
                        <td><a class="mr-1 badge badge-warning" href="">Pendiente</a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
