<div class="content-heading">
    <div>Empresas
        <small>Mantenimiento de información relativa a empresas</small>
    </div>
</div>
<!-- START card-->

<div class="row">
    <div class ="col-md-4">

        <div class="card card-default">
            <div class="card-header">Datos generales</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inlineFormInputName2">Nombre canal</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" type="text" value="Agentes" disabled="" />
                </div>
                 <div class="form-group">
                    <label for="inlineFormInputName3">Descripción corta</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" type="text" value="Canal agencial" disabled="" />
                </div>
                <div class="form-group">
                    <label for="inlineFormInputName3">Descripción larga</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" type="text" value="Canal agencial" disabled="" />
                </div>
            </div>
        </div>
    </div>

    <div class ="col-md-4">
        <div class="card card-default">
            <div class="card-header">Controles</div>
            <div class="card-body">
             <fieldset>
                <div class="form-group row">
                    
                    <div class="col-md-10">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" />
                                <span class="fa fa-check"></span>Permite autoliquidación</label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" checked="" value="" />
                                <span class="fa fa-check"></span>Permite prestación de servicios</label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" checked=""  value="" />
                                <span class="fa fa-check"></span>Obligatorio punto de venta</label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" checked="" value="" />
                                <span class="fa fa-check"></span>Obligatoria inscripción en DGS</label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" checked="" value="" />
                                <span class="fa fa-user"></span>Obligatorio supervisor</label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" checked="" value="" />
                                <span class="fa fa-star"></span>Activo</label>
                        </div>
                        
                    </div>
                </div>
            </fieldset>
        </div>
        
    </div>
    </div>



    <div >
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                <em class="icon-people fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-purple rounded-right">
                <div class="h2 mt-0">200
                </div>
                <div class="text-uppercase">Agentes asociados</div>
            </div>
        </div>

     <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="icon-globe fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                <div class="h2 mt-0">2
                </div>
                <div class="text-uppercase">Supervisores asociados</div>
            </div>
        </div>


    </div>

</div>


<div class="card card-default">
    <div class="card-header">Supervisores asociados al canal</div>
    <!-- START table-responsive-->
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="table-ext-1">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>Foto</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Objetivos</th>
                    <th>Último Acceso</th>
                    <th checkAll>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="media">
                            <img class="img-fluid circle" src="assets/img/user/01.jpg" alt="Image" />
                        </div>
                    </td>
                    <td>@twitter</td>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>mail@example.com</td>
                    <td class="text-center">
                        <div class="radial-bar radial-bar-25 radial-bar-xs" data-label="25%"></div>
                    </td>
                    <td>1 week</td>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div class="media">
                            <img class="img-fluid circle" src="assets/img/user/02.jpg" alt="Image" />
                        </div>
                    </td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mail@example.com</td>
                    <td class="text-center">
                        <div class="radial-bar radial-bar-50 radial-bar-xs" data-label="50%"></div>
                    </td>
                    <td>25 minutes</td>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <div class="media">
                            <img class="img-fluid circle" src="assets/img/user/03.jpg" alt="Image" />
                        </div>
                    </td>
                    <td>@fat</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>mail@example.com</td>
                    <td class="text-center">
                        <div class="radial-bar radial-bar-80 radial-bar-xs" data-label="80%"></div>
                    </td>
                    <td>10 hours</td>
                    <td>
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" />
                                <span class="fa fa-check"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END table-responsive-->
    <div class="card-footer">
        <div class="d-flex">
            <div>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Buscar" />
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="Search">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="ml-auto">
                <div class="input-group float-right">
                    <select class="custom-select" id="inputGroupSelect04">
                        <option value="0">Acciones</option>
                        <option value="1">Borrar</option>
                        <option value="2">Clonar</option>
                        <option value="3">Exportar</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">Aplicart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




