<div class="content-heading">
    <div>Empresas
        <small>Mantenimiento de información relativa a empresas</small>
    </div>
</div>
<!-- START card-->

<div class="row">

    <div class ="col-md-4">

        <div class="card card-default">
            <div class="card-header">Datos generales</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inlineFormInputName2">Código de empresa</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" type="text" value="1" disabled="" />
                </div>
                 <div class="form-group">
                    <label for="inlineFormInputName3">Descripción corta</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" type="text" value="Empresa 1" disabled="" />
                </div>
                <div class="form-group">
                    <label for="inlineFormInputName3">Descripción larga</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName3" type="text" value="Descripción Larga Empresa 1" disabled="" />
                </div>
            </div>
        </div>
    </div>

    <div class ="col-md-4">

        <div class="card card-default">
            <div class="card-header">Campos dinámicos</div>
            <div class="card-header">
                    <button class="btn btn-success" (click)="addNode()">Añadir campo</button>
             </div>
            <div class="card-body">
             <li class="list-group-item" *ngFor="let item of listCampos; let i = index">


                <div class="form-group">
                    <label for="inlineFormInputName2">{{item.label}}</label>
                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" type="text" value={{item.name}}/>
                </div>
                
             </li>
            </div>

        </div>
    </div>

    <div >
        <!-- START card-->
        <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-purple-dark justify-content-center rounded-left">
                <em class="icon-people fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-purple rounded-right">
                <div class="h2 mt-0">200
                </div>
                <div class="text-uppercase">Agentes asociados</div>
            </div>
        </div>

     <div class="card flex-row align-items-center align-items-stretch border-0">
            <div class="col-4 d-flex align-items-center bg-green-dark justify-content-center rounded-left">
                <em class="icon-globe fa-3x"></em>
            </div>
            <div class="col-8 py-3 bg-green rounded-right">
                <div class="h2 mt-0">2
                </div>
                <div class="text-uppercase">Supervisores asociados</div>
            </div>
        </div>


    </div>



</div>
<div class="card card-default">
    <div vectormap [mapHeight]="700" [mapName]="mapName" [seriesData]="seriesData" [markersData]="markersData" [mapOptions]="mapOptions" ></div>
</div>






