<div class="container container-md">
    <div class="row mb-3">
        <div class="col-lg-8">
            <div class="h1 text-bold">FAQs</div>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer</p>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body text-center">
                    <p class="mb-3">Lorem ipsum dolor sit amet consectetuer</p>
                    <button class="btn btn-info" type="button">Envía tus dudas</button>
                </div>
            </div>
        </div>
    </div>
    <h4 class="my-3 py-3 text-dark">Cuestiones de uso</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer. Lorem ipsum dolor sit amet consectetuer.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>DLorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen5">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>DLorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen6">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer v vLorem ipsum dolor sit amet consectetuer.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="my-3 py-3 text-dark">Dudas proceso</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen1">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>DLorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer Lorem ipsum dolor sit amet consectetuer
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum ds?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
    <h4 class="my-3 py-3 text-dark">Más información</h4>
    <accordion [closeOthers]="true">
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen1">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen2">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen3">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
        <accordion-group panelClass="b0 mb-2" [isOpen]="isAccOpen4">
            <div accordion-heading>
                <small>
                    <em class="fa fa-plus text-primary mr-2"></em>
                </small>
                <span>Lorem ipsum dolor sit amet consectetuer?</span>
            </div>
            <p>Donec congue sagittis mi sit amet tincidunt. Quisque sollicitudin massa vel erat tincidunt blandit. Curabitur quis leo nulla. Phasellus faucibus placerat luctus. Integer fermentum molestie massa at congue. Quisque quis quam dictum diam volutpat adipiscing.
            </p>
            <p>Proin ut urna enim.</p>
            <div class="text-right">
                <small class="text-muted mr-2">Was this information useful?</small>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-up text-muted"></em>
                </button>
                <button class="btn btn-secondary btn-xs" type="button">
                    <em class="fa fa-thumbs-down text-muted"></em>
                </button>
            </div>
        </accordion-group>
    </accordion>
</div>
